xv-location-input {
  display: block;
  position: relative;

  > label {
    > span {
      display: block;
      font-size: 16px;
      font-weight: 500;
    }

    > div {
      position: relative;
      > input {
        width: 100%;
        height: 45px;
        border: 1px solid $border-color;
        padding-right: 50px;
        &:focus {
          outline: 1px solid $border-color;
        }
      }

      > .clear-input {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;
        width: 45px;
        text-align: center;
        font-size: 25px;
        border-left: 1px solid $border-color;

        &:hover {
          color: $main-color2;
        }

        > .icon {
          &:before {
           line-height: 47px;
          }
        }

        > .search {
          display: inline-block;
        }

        > .close {
          display: none;
        }
      }
    }

  }

  &.has-value {
    > label {
      > div {
        > .clear-input {
          pointer-events: auto;
          > .close {
            display: inline-block;
          }
          > .search {
            display: none;
          }
        }
      }
    }
  }

  &.required {
    > label {
      > span {
        &:after {
          content: "*";
          color: $main-color2;
        }
      }
    }
  }

  &.invalid, &.invalidated {
    > label {
      .input {
        border-color: $main-color2;
        outline-color: $main-color2;
      }
    }
  }

  &.without-label {
    > label {
      > span {
        display: none;
      }
    }
  }

  > .autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFF;
    width: 100%;
    z-index: 5;

    > div {
      padding: 5px;
      border: 1px solid $border-color;
      border-bottom-width: 0px;

      &:last-of-type {
        border-bottom-width: 1px;
      }

      &.item {
        cursor: pointer;
        transition: all 0.3s ease;
        padding-left: 15px;
        &:hover {
          color: $main-color2;
        }

        &.selected {
          background: $main-color2;
          color: #FFF;
        }
      }

      &.wait {
        text-align: center;
      }
    }
  }
}